<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Here-map API</title>
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"
    />
  </head>
  <body>
    <h1 style="margin: auto"> This I A HERE MAP</h1></br>
    <div style="width: 640px; height: 480px ;margin: auto;" id="mapContainer"></div>
    
    <script>
      // Initialize the platform object:
      var platform = new H.service.Platform({
        apikey: "YNatC-8PGm5sqPTHare0Ut66C_cGmirpLC22eJXlckY",
      });
 
      //var myPosition
      var myPosition = { lat: 16.07465, lng: 108.22363 };
      
      // Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();
      
      // Instantiate (and display) a map object:
      var map = new H.Map(
        document.getElementById("mapContainer"),
        maptypes.vector.normal.map,
        {
          zoom: 80,
          center: myPosition,
        }
        );
        // Enable the event system on the map instance: bellow line 50
        var mapEvents = new H.mapevents.MapEvents(map);
      // Create the default UI zoom :
      var ui = H.ui.UI.createDefault(map, maptypes);

      // Add event listener:
      // map.addEventListener("tap", function (evt) {
      //   // Log 'tap' and 'mouse' events:
      //   console.log(evt.type, evt.currentPointer.type);
      // });

      // Instantiate the default behavior, providing the mapEvents object:
      var behavior = new H.mapevents.Behavior(mapEvents);

      //view model Goc nhin cua ban do
      map.getViewModel().setLookAtData({
        tilt: 20, //Goc nghien
        heading: 180  //Phuong huong
      });

            //Get icon when tap on map
            let imagIcon = new H.map.Icon('/img/marker.png',{size:{w:36,h:36}})

      //Find  current location 
        getBrowserPosition = () =>{
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    //print position
                    //console.log(position.coords);

                    //get icon current location
                    var currentLocation='/img/Positon.png';

                 
                    //get current position
                    let browserPosition = {lat: position.coords.latitude, lng:position.coords.longitude}
                    //Call Icon
                    let posIcon = new H.map.Icon(currentLocation,{size:{w:56,h:56}});
                    //Create a point on map
                    let marker = new H.map.Marker(browserPosition,{icon:posIcon});
                    //add this location to a map
                    map.addObject(marker);
                    //Move map to this location
                    map.setCenter(browserPosition);

                    //drawcircle
                    var circle = new H.map.Circle(browserPosition,1000,{style: circleStyle});
                     map.addObject(circle);

                });
            } else {
                alert("Geolocation is not supported by this browser!");
            }
          }
          function clickToMark(){
          // Add event listener:
          map.addEventListener('tap', function(evt) {// Tap on a map event
            // Log 'tap' and 'mouse' events
            //console.log(evt); 
            
            //if have market show information
            if(evt.target instanceof H.map.Marker){
              // Create an info bubble object at a specific geographic location:
              var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
                content: evt.target.getData()
             });

            // Add info bubble to the UI:
            ui.addBubble(bubble);

            }
            else{
            //Get lat and lng a location tap on map
            let pointer = evt.currentPointer;
            console.log(map.screenToGeo(pointer.viewportX, pointer.viewportY));
            let pointerPosition = map.screenToGeo(pointer.viewportX, pointer.viewportY);
            let pointerMarker = new H.map.Marker(pointerPosition,{icon: imagIcon,volatility: true});
            //Apply move this position
            pointerMarker.draggable = true;

            pointerMarker.setData('<h1>Room1</h1><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcTciklwLOm3a61C04yphfi9W34xt2UJvvGwcS73mqClLfuTIXniA1ZiO_SdxycNrCt6gl9e6ZApB7PNDpn4t_4" alt="Girl in a jacket" width="100" height="110">')

            map.addObject(pointerMarker);
            }
          });
        }
        //circle style
        var circleStyle ={
          fillColor: 'RGBA(153, 233, 242, 0.5)',
          strokeColor: 'RGB(11, 114, 133)',
          lineWidth:3
        };
        
        
        //drag position 
        function clickDragMarkers(){

        // disable the default draggability of the underlying map
        // and calculate the offset between mouse and target's position
        // when starting to drag a marker object:
        map.addEventListener('dragstart', function(ev) {
           var target = ev.target,
            pointer = ev.currentPointer;
            if (target instanceof H.map.Marker) {
            var targetPosition = map.geoToScreen(target.getGeometry());
            target['offset'] = new H.math.Point(pointer.viewportX - targetPosition.x, pointer.viewportY - targetPosition.y);
             behavior.disable();
        }
        }, false);


        // re-enable the default draggability of the underlying map
        // when dragging has completed
        map.addEventListener('dragend', function(ev) {
            var target = ev.target;
            if (target instanceof H.map.Marker) {

            // //drawcircle
            //   var circle = new H.map.Circle(ev.target.getGeometry(),1000,{style: circleStyle});
            //   map.addObject(circle);

            behavior.enable();
            }
        }, false);

        // Listen to the drag event and move the position of the marker
        // as necessary
        map.addEventListener('drag', function(ev) {
            var target = ev.target,
                pointer = ev.currentPointer;
            if (target instanceof H.map.Marker) {
            target.setGeometry(map.screenToGeo(pointer.viewportX - target['offset'].x, pointer.viewportY - target['offset'].y));
            }
        }, false);

}




          getBrowserPosition();
          clickToMark();
          clickDragMarkers();
    </script>
    <script src='geocode.js'></script>
  </body>
</html>

