{{#each users}}
<div class="col-sm-6 col-lg-4">
    <div class="card card-course-item">

        <div class="card-body">

            <h5 class="card-title">Email : {{this.email}}</h5>
            <h5 class="card-title">Password: {{this.password}}</h5>
        </div>
    </div>
</div>
{{/each}}