/* Navbar */
.nav-link{
  padding: 8px 15px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
  border: 2px solid transparent;
  transition: .5s linear;
  font-weight: 800;
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -ms-transition: .5s linear;
  -o-transition: .5s linear;
}
.bg-transparent.scrolled {
  background-color:  #af9a7d!important;
  transition:500ms ease;
}

.navbar-brand{
  font-size: 32px!important;
  color: #ffffff!important;
}
.nav-link:hover{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.nav-link.active_class{
color: #ffffff;
border: 2px solid #ffffff;
font-weight: 800;
}

.form-control{
border: 2px solid  #af9a7d;
}
.form-control:focus,
.form-control.active {
  border: 2px solid  #af9a7d!important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
box-shadow: inset 0 -1px 0 #ddd;
}